	<main>
	

	<!--
	  Below we include the Login Button social plugin. This button uses
	  the JavaScript SDK to present a graphical Login button that triggers
	  the FB.login() function when clicked.
	-->
<!-- <a href="/auth/facebook">Login with Facebook</a> -->

	<div id="status">
	</div>

		<div class="jumbotron">
			<h1><%= yourname %>，您好</h1>
		</div>
		<ul>
		
		</ul>
	</main>
